<a href="https://colab.research.google.com/github/SergeyVeletnyuk/Python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv('/content/sample_data/california_housing_train.csv')

In [ ]:
min_house = df.population.min()
df[
    df['population'] == min_house
].households.max()

4.0

In [ ]:
df.head(20)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
8,-114.59,33.61,34.0,4789.0,1175.0,3134.0,1056.0,2.1782,58400.0
9,-114.60,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0
10,-114.60,33.62,16.0,3741.0,801.0,2434.0,824.0,2.6797,86500.0
11,-114.60,33.60,21.0,1988.0,483.0,1182.0,437.0,1.6250,62000.0
12,-114.61,34.84,48.0,1291.0,248.0,580.0,211.0,2.1571,48600.0
13,-114.61,34.83,31.0,2478.0,464.0,1346.0,479.0,3.2120,70400.0
14,-114.63,32.76,15.0,1448.0,378.0,949.0,300.0,0.8585,45000.0
15,-114.65,34.89,17.0,2556.0,587.0,1005.0,401.0,1.6991,69100.0
16,-114.65,33.60,28.0,1678.0,322.0,666.0,256.0,2.9653,94900.0
17,-114.65,32.79,21.0,44.0,33.0,64.0,27.0,0.8571,25000.0
18,-114.66,32.74,17.0,1388.0,386.0,775.0,320.0,1.2049,44000.0
19,-114.67,33.92,17.0,97.0,24.0,29.0,15.0,1.2656,27500.0

In [ ]:
df[
    df['population'] < 500
   ].median_house_value.mean()

210833.33333333334

In [4]:
import random

In [1]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame(lst ,columns={'whoAmI'})
data.head()
data_new = pd.get_dummies(data, columns=["whoAmI"])
data_new.head()

   whoAmI_human  whoAmI_robot
0             0             1
1             1             0
2             0             1
3             0             1
4             1             0

In [5]:
import pandas as pd
import random
from sklearn.preprocessing import LabelBinarizer
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame(lst ,columns={'whoAmI'})
data.head()
y = LabelBinarizer().fit_transform(data)
y

array([[0],
       [1],
       [1],
       [1],
       [0],
       [0],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1]])

In [7]:
import pandas as pd
import random
from sklearn. preprocessing import OneHotEncoder
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame(lst ,columns={'whoAmI'})
data.head()
encoder = OneHotEncoder(handle_unknown='ignore')
encoder_df = pd.DataFrame(encoder. fit_transform(data[['whoAmI']]))
final_df = data.join (encoder_df)
final_df

   whoAmI              0
0   human    (0, 0)\t1.0
1   robot    (0, 1)\t1.0
2   human    (0, 0)\t1.0
3   human    (0, 0)\t1.0
4   human    (0, 0)\t1.0
5   robot    (0, 1)\t1.0
6   human    (0, 0)\t1.0
7   robot    (0, 1)\t1.0
8   robot    (0, 1)\t1.0
9   robot    (0, 1)\t1.0
10  human    (0, 0)\t1.0
11  robot    (0, 1)\t1.0
12  robot    (0, 1)\t1.0
13  robot    (0, 1)\t1.0
14  robot    (0, 1)\t1.0
15  human    (0, 0)\t1.0
16  human    (0, 0)\t1.0
17  human    (0, 0)\t1.0
18  robot    (0, 1)\t1.0
19  human    (0, 0)\t1.0

In [8]:
import pandas as pd
import random
from sklearn.preprocessing import OneHotEncoder
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame(lst ,columns={'whoAmI'})
data.head()
x = data
y = OneHotEncoder().fit_transform(x).toarray()
print(y)

[[1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [1. 0.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [0. 1.]
 [0. 1.]
 [1. 0.]
 [1. 0.]]